<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Users</title>
</head>
<body>
<section>
    <h1>User List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nickname</th>
            <th>Profile Image</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.nickname}"></td>
            <td><img th:src="${user.profileImage}" alt="Profile Image" width="50" height="50"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>